
@import 'helpers';


.NavBar {
    
    position: fixed;
    top: 0;
    z-index: 100;

    border-radius: 20px;
    background-color: colors(light-gray-bg);    
    box-shadow: 0px 0px 3.3rem 1rem rgba(colors(dark-blue), 0.9);


    height: $nav-bar-height;
    transition-duration: 0.4s;
    transition-property: height;
    // transition-timing-function: cubic-bezier(0.32, 0.08, 0.24, 1), cubic-bezier(0.52, 0.16, 0.24, 1);;

    &.expanded{
        height: 40rem;
    }

    

    @include setProps(left right top, $nav-bar-insets);

    .nav-bar-content{
    
        height: $nav-bar-height;
        
        @include setProps(padding-left padding-right, 1.5625rem);

        display: grid;
        justify-content: space-between;
        grid-auto-flow: column;
        
        align-items: center;

        > .title-box{
            display: grid;
            gap: 1.125rem;
            grid-auto-flow: column;
            align-items: center;
            
            
            > .screw-logo-holder{            
                @include setProps(height width, 2.5rem);
                position: relative;
                top: -2px;
                > svg {
                    fill: colors(light-blue); 
                }
            }
    
            > .text{
                display: grid;
                text-transform: uppercase;
                letter-spacing: 0.05em;
                line-height: 1;
                font-weight: bold;
    
                & > :first-child{
                    font-size: 1.75rem;   
                }
                
                & > :last-child{
                    color: colors(light-blue);
                    font-size: 1.25rem;
                }
            }
        }

        $nav-bar-links-cut-off-point: 976px;
    
        > .links-box{

            @media(max-width: $nav-bar-links-cut-off-point){
                display: none;
            }

            display: grid;
            grid-auto-flow: column;
            gap: 30px;
            
            > *{
                @include blueBGOnHover(40px);
                @include setProps(padding-left padding-right, 15px);
    
                display: grid;
                align-items: center;
                grid-auto-flow: column;
                gap: 10px;
    
                svg {
                    @include setProps(height width, 23px);
                    fill: white;
                }
    
                > .text-box{
                    text-transform: capitalize;
                    font: {
                        size: 18px;
                        weight: bold;
                    }
                }
                &.selected{
                    color: colors(light-blue);
                    svg{
                        fill: colors(light-blue);
                    }
                }
            }
        }

        .menu-icon-holder{
            $size: 2.8rem;
            height: $size;
            width: $size;
            display: none;
            
            @include bounceOnHover(1.2);
            @media(max-width: $nav-bar-links-cut-off-point){
                display: initial;
            }

            > svg{
                fill: white;
            }
        }

    }
    
    

}



