@import 'helpers';



.ProductItemImageSelector{

    max-width: 30rem;
    display: grid;
    gap: 1rem;

    > .CustomInput{
        .ProductItemImageView{
            border-radius: 0.4rem;
        }
        > .input-box{
            padding: 0.7rem;
        }
    }

    .EditImageButtons{
        justify-self: end;
        display: grid;
        grid-auto-flow: column;
        gap: 1rem;
        
        > *{
            border-radius: 100000px;
            padding: 0.5rem 1rem;
            font-size: 1.1rem;
            font-weight: bold;
            background-color: colors(dark-light-blue);
            @include bounceOnHover;
            // box-shadow: 0 0 15px 8px rgba(black, 0.15);
        }

       
    }
}

