

@import 'helpers';
@import '../products-variables';


.Products > .content{

    
    > .MainContent{

        --main-content-padding: 3rem;
        
        background-color: rgb(27, 42, 56);
        
        border-radius: $main-content-border-radius;
        padding: var(--main-content-padding);
        
        @media(max-width: 400px){
            --main-content-padding: 2rem;
        }

        > .TitleBox{

            display: grid;
            gap: 2rem;

            > .text-box{
                display: grid;
                gap: 1rem;
                justify-items: start;

                > .title{
                    font-size: 3rem;
                    font-weight: bold;

                    @media(max-width: 400px){
                        font-size: 2.5rem;
                    }
                }

                > .description{
                    color: colors(grayish-blue-text);
                    font-size: 1.3rem;
                    line-height: 1.3;
                    max-width: 45rem;
                }
            }

            > .bottom-line{
                $height: 0.5rem;
                height: $height;
                border-radius: $height / 2;
                background: blueThemeGradient(horizontal);
            }
        }

        > .ProductDetailsView{

            $max-width-for-vertical-layout: 750px;
            

            display: grid;
            grid-template-columns: 1fr 1fr;
            
            margin-top: 2.5rem;
            align-items: start;
            gap: 2rem;
        

            @media(max-width: $max-width-for-vertical-layout){
                grid-template-columns: initial;
                max-width: 425px;
                @include setProps(margin-left margin-right, auto);
                > .image-section-holder{
                    grid-row: 1;
                }
            }

            > .description-section{
                font-size: 18px;
                line-height: 1.6;

                @include respondToNarrowWidth{
                    font-size: 16px;
                }
            }

            > .image-section-holder{

                > .image-section{
                    
                    --image-section-insets: 14px;
                    max-width: 500px;
                    @include setProps(margin-left margin-right, auto);

                    @media (min-width: 1300px){
                        --image-section-insets: 18px;
                    }

                    @media(max-width: $max-width-for-vertical-layout){
                        max-width: initial;
                    }
                    
                    > .content{
                        padding-top: $product-image-height-percentage-of-width;
                        position: relative;
                        
                        > .image-holder{
                            position: absolute;
                            @include setProps(top left, 0);
                            @include setProps(right bottom, var(--image-section-insets));
                        
                            border-radius: 0.7rem;
                            overflow: hidden;
                            background-color: lightGray;
    
                            > img{
                                height: 100%;
                                width: 100%;
                                object-fit: cover;
                            }
                        }
                        
                        > .background-view{
                            background-color: $product-item-info-background-color;
                            box-shadow:0px 0px 3.3rem 1rem rgba(colors(dark-blue), 0.9);
                            border-radius: 1rem;
                            position: absolute;
                            @include setProps(top left, var(--image-section-insets));
                            @include setProps(right bottom, 0);
                        }
                    }
                }
            }

        }

        > .ProductItemsGrid{

            margin-left: -$product-grid-insets;
            margin-top: $product-grid-insets;
            display: grid;
            gap: $product-grid-insets;
            grid-template-columns: auto;
            justify-content: center;
            justify-items: center;

            @media(min-width: 550px){
                grid-template-columns: auto auto;
            }

            @media(min-width: 850px){
                grid-template-columns: auto auto  auto ;
            }

            @media(min-width: $min-width-for-displaying-side-bar){
                grid-template-columns: auto auto;
            }

            @media(min-width: 1250px){
                grid-template-columns: auto auto auto;
            }

            @media(min-width: 1600px){
                grid-template-columns: auto auto auto auto;
            }

            > .ProductOrCategoryItem{
            
                @mixin configureTransition($properties){
                    transition-property: $properties;
                    transition-duration: 0.2s;
                }

                max-width: 315px;

                padding: $product-grid-insets;
                position: relative;

                > .background-view{
                    position: absolute;
                    background-color: $product-item-info-background-color;
                    box-shadow:0px 0px 3.3rem 1rem rgba(colors(dark-blue), 0.9);
                    border-radius: 0.8rem;
                    left: $product-grid-insets * 2;
                    bottom: 0;
                    right: 0;
                    top: $product-grid-insets * 2;
                    @include configureTransition(top left);
                }
                
                @media(hover: hover){
                    &:hover{
                        z-index: 1; 
                        > .background-view{
                            top: 0; left: 0; bottom: -$product-grid-insets;
                            
                        }

                        > .content-box{
                            > .under-image-content{
                                transform: translateX(-$product-grid-insets);
                                > .text-box > .title{
                                    @include applyBlueThemeTextGradient;
                                }
                            }
                            > .image-box > .content > img {
                                transform: scale(1.1);
                            }
                        }
                    }
                }

                > .content-box{

                    position: relative;
                    
                    > .image-box{
                        
                        padding-top: $product-image-height-percentage-of-width;
                        background-color: lightGray;
                        border-radius: 0.55rem;
                        position: relative;
                        overflow: hidden;

                        > .content{
                            
                            position: absolute;
                            @include setProps(top bottom left right, 0);
        
                            > img{
                                width: 100%; height: 100%;
                                object-fit: contain;
                                @include configureTransition(transform);
                            }
                            
                            > .product-or-category{
                                position: absolute;
                                @include setProps(right top, 0.5rem);
                                text-transform: uppercase;
                                justify-self: start;
                                font-weight: bold;
                                font-size: 11.2px;
                                padding: 0.265rem 0.4rem 0.2rem;
                                border-radius: 0.3rem;
                                background-color: colors(light-blue);
                            }

                        }
                
                    }

                    > .under-image-content{
                        margin-left: $product-grid-insets * 2;
                        margin-top: $product-grid-insets;
                        @include configureTransition(transform);

                        > .text-box{
                            display: grid;
                            gap: 0.5rem;
                            justify-items: start;
                            
                            > .title{
                                font-weight: bold;
                                font-size: 16px;
                                @include setMaximumLines(2);
                            }

                            > .description{
                                font-size: 14px;
                                color: colors(grayish-blue-text);
                                @include setMaximumLines(3);
                            }
                        }
                    }
                }
            }
        }
    }
}


.Dashboard{
    > .Products > .content > .MainContent{
        margin-bottom: $page-content-left-and-right-insets;

    }
}

