@import 'helpers';


.ContactUs{
    > .content{
        max-width: 60rem;
        --content-padding: 2.5rem;
        @include setProps(margin-left margin-right, auto);
        @include setProps(padding-left padding-right, var(--content-padding));
        @include respondToNarrowWidth{
            --content-padding: 1.8rem;
        }

        > .PageHeader{
            --top-and-bottom-margins: 8rem;
            @include setProps(margin-top margin-bottom, var(--top-and-bottom-margins));
        }
        
        > .body-content-holder{
            display: grid;
            grid-template-columns: 2fr 1fr;
            align-items: start;
            gap: 4rem;

            @mixin respondToNarrowDesktopSnapPoint{
                @media(max-width: 920px){
                    @content;
                }
            }

            @include respondToNarrowDesktopSnapPoint{
                grid-template-columns: 3fr 1fr;
                gap: 2.5rem;
            }

            @include respondToNarrowWidth{
                grid-template-columns: initial;
            }

            > .text-fields{
                display: grid;
                gap: 2rem;
                > .submit-button{
                    $font-size: 1rem;
                    $top-and-bottom-padding: 1rem;
                    $height: ($top-and-bottom-padding * 2) + $font-size;

                    background-color: colors(dark-light-blue);
                    text-transform: uppercase;
                    font-weight: bold;
                    
                    font-size: $font-size;
                    justify-self: end;
                    height: $height;
                    @include setProps(padding-left padding-right, 1.6rem);
                    border-radius: $height / 2;
                    
                    @include bounceOnHover;
                }
            }

            > .contact-methods-holder{
                margin-top: 2rem;
                display: grid;
                justify-items: start;
                gap: 2rem;

                @include respondToNarrowWidth{
                    display: none;
                }
                > .contact-method{
                    display: grid;
                    gap: 0.8rem;
                    justify-items: start;
                    
                    > .title{
                        @include applyBlueThemeTextGradient;
                        font-weight: bold;
                        font-size: 1.7rem;
                        @include respondToNarrowDesktopSnapPoint{
                            font-size: 1.4rem;
                        }
                    }

                    > .info{
                        font-size: 1.2rem;
                        color: colors(grayish-blue-text);

                        @include respondToNarrowDesktopSnapPoint{
                            font-size: 1rem;    
                        }
                    }
                }
            }
        }
    }
    margin-bottom: 7.1rem;

    @media(max-width: 520px){
        > .content > .PageHeader{
            --top-and-bottom-margins: 6rem;
        }
        margin-bottom: 6rem;
    }
}




