
@import 'helpers';
$page-content-inset-from-nav-bar: 1.2rem;
$page-content-inset-from-screen-top: $nav-bar-height-from-top + $page-content-inset-from-nav-bar;

$min-width-for-displaying-side-bar: 1100px;
$side-bar-link-spacing: 0.5rem;
$side-bar-link-top-and-bottom-padding: 0.7rem;
$side-bar-link-title-font-size: 1rem;
$side-bar-link-chevron-font-size: 1.2rem;

$main-content-border-radius: 1.4rem;

$product-grid-insets: 1rem;


:export{
    minWidthForDisplayingSideBar: $min-width-for-displaying-side-bar;
    sideBarLinkSpacing: strip-unit($side-bar-link-spacing);
    sideBarLinkHeight: strip-unit(max($side-bar-link-chevron-font-size, $side-bar-link-title-font-size) + ($side-bar-link-top-and-bottom-padding * 2));
}