

@import 'helpers';
@import 'products-variables';



.Products{

    @include setProps(margin-left margin-right, auto);
    max-width: 1850px;
    display: grid;

    @media(min-width: $min-width-for-displaying-side-bar){
        margin-bottom: 5rem;
    }
    
    > .side-bar-button{

        $side-bar-button-insets: 2.5rem;

        background-color: colors(dark-light-blue);
        @include setProps(height width, 2rem);
        z-index: 1;
        padding: 0.7rem 1.4rem;
        border-radius: 1rem;
        position: sticky;
        bottom: $side-bar-button-insets;
        justify-self: end;
        box-shadow: 0px 0px 1.5rem 0.5rem rgba(colors(dark-blue), 0.4);

        @include setProps(margin-top margin-bottom margin-right, $side-bar-button-insets);

        @include bounceOnHover(1.2);
        
        > svg{
            fill: white;
        }

        @media(min-width: $min-width-for-displaying-side-bar){
            display: none;
        }
    }

    > .content{
        margin-top: $page-content-inset-from-nav-bar;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: auto;
        align-items: start;
        @include setProps(padding-left padding-right, $page-content-left-and-right-insets);

        @media(min-width: $min-width-for-displaying-side-bar){
            grid-template-columns: auto 1fr;
        }

        

        
        
    }
}



.Dashboard{
    
    > .Products {
        margin-bottom: initial;
        > .content{
            margin-top: initial;
            grid-template-rows: auto 1fr;

            > .TopActionButtonsView{
                --left-and-right-padding: 1.5rem;
                @include setProps(padding-top padding-bottom, 1.5rem);
                @include setProps(padding-left padding-right, var(--left-and-right-padding));
                z-index: 5;
                grid-column: -1 / -2;
                grid-row: 1 / 2;
                display: grid;
                grid-auto-flow: column;
                justify-content: space-between;
                position: sticky;
                top: 0;
                
            
                > .right-buttons{
                    display: grid;
                    grid-auto-flow: column;
                    gap: 1.7rem;
                    justify-content: end;
                }

                .TopActionButton{
                    --button-size: 3.8rem;
                    border-radius: calc(var(--button-size) / 2);
                    @include setProps(height width, var(--button-size));
                    background-color: colors(dark-light-blue);
                    @include bounceOnHover(1.2);
                    
                    &.destructive{
                        background-color: rgb(187, 34, 34);
                    }
                    position: relative;
                    box-shadow: 0 0 2rem 0.8rem rgba(colors(dark-blue), 0.6);

                    > svg{
                        @include setProps(height width, calc(var(--button-size) / 2));
                        position: absolute;
                        top: 50%; left: 50%;
                        transform: translate(-50%, -50%);
                        fill: white;
                    }
                }

                @media(max-width: 370px){
                    --left-and-right-padding: 0.5rem;
                    > .right-buttons{
                        gap: 1.4rem;
                    }
                    .TopActionButton{
                        --button-size: 3.5rem;
                    }   
                }
            }

            > .MainContent{
                grid-column: -1 / -2;
                grid-row: 2 / 3;
            }

            > .AttachedSideBar{
                grid-column: 1 / 2;
                grid-row: 1 / 3;
            }
        }
    }

}

