
$nav-bar-height: 5rem;
$nav-bar-insets: 0.9375rem;
$nav-bar-height-from-top: $nav-bar-height + $nav-bar-insets;
$max-narrow-width: 775px;

$theme-colors: (
    dark-blue: rgb(22, 33, 44),
    light-dark-blue: rgb(25, 39, 52),
    light-gray-bg: rgb(37, 51, 65),
    light-blue: #1da1f2,
    white-dimmed-blue: rgb(207, 235, 252),
);

@function colors($colorName){    
    @return map-get($map: $theme-colors, $key:$colorName);
}

@mixin applyTextGradient($linear-gradient){
    background: $linear-gradient;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


/// returns a gray color according to the value given. EXPECTS A DECIMAL!!!
@function gray($levelOfGrayness){
    $v: $levelOfGrayness * 255;
    @return rgb($v, $v, $v);
}

@mixin respondToNarrowWidth{
    @media(max-width: $max-narrow-width){
        @content;
    }
}

@mixin setProps($properties, $value){
    @each $property in $properties{
        #{$property}: $value;
    }
}

@mixin centerContentInGrid{
    display: grid;
    justify-content: center;
    align-content: center;
}

@mixin bounceOnHover($bounce-scale: 1.1) {
    
    @media (hover: hover){
        transition-duration: 0.2s;
        transition-property: transform;
        &:hover{
            transform: scale($bounce-scale);
        }
    }
    
    cursor: pointer;
}

@mixin roundedBGOnHoverAnimConfig($properties){
    transition: {
        duration: 0.2s;
        property: $properties;
    }    
}

@mixin roundedBGOnHover($height, $rounded-BG-color, $hover-text-color){
    
    @include roundedBGOnHoverAnimConfig(color);

    position: relative;
    cursor: pointer;

    &::before{
        content: '';
        position: absolute;
        background-color: $rounded-BG-color;
        @include setProps(left right, 0);
        height: $height;
        top: 50%;
        transform: translateY(-50%);
        border-radius: $height / 2;
        opacity: 0;
        @include roundedBGOnHoverAnimConfig(opacity);
    }

    svg{
        @include roundedBGOnHoverAnimConfig(fill);
    }

    @media(hover: hover){
        &:hover{
            color: $hover-text-color;
            svg{
                fill: $hover-text-color;
            }
        }
        &:hover::before{
            opacity: 1;
        }
    }

}

@mixin blueBGOnHover($height){
    @include roundedBGOnHover($height, rgba(colors(light-blue), 0.2), colors(light-blue)); 
}




