
@import 'helpers';
@import url('https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap');

:root{
    font-size: 16px;
    @include respondToNarrowWidth{
        font-size: 12px;
    }
}

*{
    padding: 0.02px;
    margin: 0;
    -webkit-text-size-adjust: none;
}

body{
    background-color: colors(dark-blue);
    color: white;
    font-family: Rubik;
    // because transition animation between pages would cause the bottom scroll bar to flash.
    overflow-x: hidden;
}

a{
    color: inherit;
    text-decoration: none;
}

button{
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: inherit;
    cursor: pointer;
}


button:focus, input:focus, textarea:focus{
    outline: none;
}   

textarea{
    resize: none;
    font-family: inherit;
}



.page-comming-soon{
    margin: {
        left: auto;
        right: auto;
        top: 15rem;
        bottom: 70rem;
    }
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    

    max-width: 15rem;
}









